<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
    <div class="panel-body">

    <h1><%= @business_profile.name %></h1>

    <h2> Locations  </h2>
    <h3><%= @business_profile.street %></h3>
    <h3><%= @business_profile.city %> <%= @business_profile.state %> <%= @business_profile.postcode %> <%= @business_profile.country %> </h3>

    <h3><i class="fa fa-phone"></i> <%= @business_profile.phone %> </h3>
    <h3><i class="fa fa-envelope"></i> <%= @business_profile.email %> </h3>
    <h3><i class="fa fa-globe"></i> <%= link_to 'Website', @business_profile.website %> </h3>
    <h3><i class="fa fa twitter"></i> <%= link_to @business_profile.twitter %> </h3>
  </div>
</div>
</div>
</div>

<%= link_to 'Edit', edit_business_profile_path(@business_profile) %> |
<%= link_to 'Back', business_profiles_path %>
